@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Background init */

.wrapper{
	background: linear-gradient(-45deg, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 30s ease infinite;
}

.bg-bubbles{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 1;
    overflow: hidden;
}

.bg-bubbles li{
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    opacity: .15;
    bottom: -160px;
    
    -webkit-animation: square 25s infinite;
    animation:         square 25s infinite;
    
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1){
    left: 10%;
}
		
.bg-bubbles li:nth-child(2){
    left: 20%;
    
    width: 80px;
    height: 80px;
    
    animation-delay: 2s;
    animation-duration: 68s;
}
		
.bg-bubbles li:nth-child(3){
    left: 25%;
    animation-delay: 4s;
}
		
.bg-bubbles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    
    animation-duration: 88s;
    
    background-color: white;
    opacity: .25;
}

.bg-bubbles li:nth-child(5){
    left: 70%;
}
		
.bg-bubbles li:nth-child(6){
    left: 80%;
    width: 120px;
    height: 120px;
    
    animation-delay: 3s;
    background-color: white;
    opacity: .20;
}
		
.bg-bubbles li:nth-child(7){
    left: 32%;
    width: 160px;
    height: 160px;
    
    animation-delay: 7s;
}
		
.bg-bubbles li:nth-child(8){
    left: 55%;
    width: 20px;
    height: 20px;
    
    animation-delay: 15s;
    animation-duration: 160s;
}
		
.bg-bubbles li:nth-child(9){
    left: 25%;
    width: 10px;
    height: 10px;
    
    animation-delay: 2s;
    animation-duration: 160s;
    background-color: white;
    opacity: .30;
}
		
.bg-bubbles li:nth-child(10){
    left: 90%;
    width: 160px;
    height: 160px;
    
    animation-delay: 44s;
}

@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-1080px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-1080px) rotate(600deg); }
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Background end */

html {
    overflow-y: auto;
}

.cv-flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

/* templates de cvs inicio*/

.template {
    width: 75vw;
    height: 97vw;
    background-color: #666;
}

/* templates de cvs fin*/